body {
    background-color: lightgreen;
}
.example {
    -webkit-border-radius: 10px; /* Safari and Chrome */
    -moz-border-radius: 10px;    /* Firefox */
    border-radius: 10px;         /* Standard */
}